body {
    background-color: white;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-family: Verdana, serif;
    color: blue;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#middle-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15px;
}

#right-container {
    width: 17%;
    margin: 15px;
}

.note {
    border: 1px solid lightgrey;
    margin: 20px 10px 20px 10px;
    text-align: left;
    box-shadow: 0 2px 7px #7a7a7a;
    -moz-box-shadow: 0 2px 7px #7a7a7a;
    -webkit-box-shadow: 0 2px 7px #7a7a7a;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.note p {
    background: linear-gradient(rgb(238, 238, 238), lightgrey);
    border-top: 1px solid #ccc;
    position: relative;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    clear: right;
    color: #333;
    display: block;
    height: 22px;
    padding: 5px 5px 5px 10px;
}

.note li {
    color: blue;
    cursor: pointer;
    font-size: small;
}

.note ul {
    margin: 10px;
    padding-left: 20px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(31, 42, 197);
    padding: 0 0 0 20%;
}

.navigation li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li:hover {
    background-color: rgb(0, 27, 100);
}

.navigation li.active {
    float: left;
    display: block;
    color: rgb(6, 6, 59);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: whitesmoke;
    border-style: solid solid none solid;
    border-width: 2px;
    border-color: lightgrey;
}

.accounts h2 {
    color: blue;
    text-align: left;
    font-size: medium;
}

.accounts table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.accounts td, th {
    border-top: 1px solid darkgrey;
    padding: 10px;
}

.accounts th {
    background-image: linear-gradient(rgb(238, 238, 238), lightgrey);
}

.balance {
    background-color: rgb(223, 223, 223);
    width: 30%;
    text-align: right;
}
