.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.car, .carDetails {
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  text-transform: capitalize;
}

.carlist {
  display: flex;
  flex-direction: column;
  color: black;
  width: 35%;
}

.car {
  margin: 0 10px 10px 10px;
  padding: 5px;
  img {
    width: 40%;
    float: left;
    margin: 2px;
    border-radius: 20px;
  }
  h2 {
    font-size: 1.2em;
  }
}

.carDetails {
  padding: 15px;
  width: 35%;
  text-align: left;
  color: black;
  margin-left: 10px;
}

.detailsHeader {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  img {
    border-radius: 20px;
    width: 40%;
    align-self: baseline;
  }
  h2 {
    margin: 5px 5px 5px 1em;
    font-size: 1.5em;
  }
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
